.character {
  height: 800px;
  max-width: 100%;
}

.character img {
  height: 60%;
  object-fit: contain;
}
.character table {
  margin: 10px auto;
}

.hoc {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  background-color: blueviolet;
}
