.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.App h1 {
  color: red;
}

.hoc {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  background-color: blueviolet;
}
